@use '../abstract/' as *;

header{

    height: 120px;
    background-color: $bg-nav;
    

    a{
        // color:rgb(34, 255, 0);
        text-decoration: none;
        font-size: 1rem;
    }

    
}
body{

    h1,h2,h3,h4,h5,h6{
        font-family: $font-title;
        color:$title-color-1
    }

    h1{
        font-size: $font-desk-72-36;
    }

    h2{
        font-size: clamp(1.5rem, -0.2143rem + 3.5714vw, 3rem);
    }
}

