@use '../abstract/' as *;

*, *::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{

    scroll-behavior: smooth;
}
body{
    font-family: $font-text;
    font-size: 16px;
    color: $text-color-1;

}

