{% extends 'base.html.twig' %}

{% block title %}Accueil {{parent()}}{% endblock %}

{% block body %}
<section class="header">
    <div class="header__info">
        <h1>Guadeloupe passion Caraïbe</h1>
        <p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p class="subtitle">
        <div class="btn_container">
            <a href="" class="button__primary" >Réserver mon voyage</a>
            <a href="#offers" class="button__secondary" >Voir les offres</a>
        </div>
    </div>
</section>

<section class="carte">
    {# Informations/excursions/ #}
    <div class="carte__info">
        <h2>Des activité sur tout le territoire</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime deserunt recusandae incidunt esse rerum harum sunt dignissimos dolorum voluptas? Eum laborum cupiditate, commodi voluptates eius autem? Dignissimos nam quasi dolorem.</p>
        {{ ux_map(map, { 'class': 'carte__component' }) }}

    </div>




    {# Carte (excursions (tcheck googleMap/leaflet)) #}

</section>


<section class="service">
    {# carte service avec scroll ou link #}

</section>
<section>
   {# Section excursion #}

</section>
<section>
   {# Section hebergement #}

</section>
<section>
   {# Section véhicule/ transport #}

   <a href="https://ew21596948.web.app/?providerID=5438bb9a">En Woute WebApp</a>
</section>
{% endblock %}
