{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Guadeloupe passion Caraïbe{% endblock %}
{% block head_stylesheets %}
    {{parent()}}
    <style>

    </style>
{% endblock %}
{% block page_actions %}
            <a class="btn btn-primary" href="{{path('admin_activites_index')}}">Activité</a>
        <a class="btn btn-primary" href="{{path('admin_excursions_index')}}">Excursions</a>
        <a class="btn btn-primary" href="{{path('admin_promos_index')}}">Promotions</a>
{% endblock %}

{% block main %}


{% endblock %}