
{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block _Activites_crop_image_widget %}
    {# ... #}
    <div data-cropper-target='container' id="cropper-container" ></div>

{% endblock %}

{% block _Excursions_crop_image_widget %}
    {# ... #}
    <div data-cropper-target='container' id="cropper-container" ></div>

{% endblock %}

{% block _Promos_crop_image_widget %}
    {# ... #}
    <div data-cropper-target='container' id="cropper-container" ></div>

{% endblock %}