@use '../abstract/' as *;

.bannierCta{

    background-color: rgb(255, 183, 0);
    width: 100%;
    padding-block: 4rem;

    @extend %flex-column-center;


    h2{
        font-size: 2rem;
        color: black;
    }
}