@use '../abstract/' as *;

.nav{
    
    @extend %flex-row-between-center;

    height: calc(120px + 3rem);
    padding-inline:  clamp(2rem, -0.2857rem + 4.7619vw, 4rem);
    padding-block-start: 3rem;
    position: relative;
    

    .bandeau-contact{
        background-color: $blue-hover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        padding-inline:  clamp(2rem, -0.2857rem + 4.7619vw, 4rem);

        @extend %flex-row-between-center;
        gap: 2rem;
        
        p{
            font-weight: 700;
            font-size: 0.8rem;
            color: azure;
            @extend %flex-row-center-start;
            gap: 0.4rem;

            
            span{
                font-weight: 700;


            }

            .horaireIcon{
                height: 1rem;
            }
        }

    }


    .logo{
        height: 100%;

        &__container{
            height: clamp(3rem, 2rem + 5vw, 6.5rem);
        }
    }


    .nav &__links{
        @extend %flex-row-center;
        gap: clamp(1rem, -0.1429rem + 2.381vw, 2rem);



        & .nav__link{
            font-family: $font-text;
            color: $text-color-1;
            font-size: $font-desk-24-16;
            font-weight: 500;
            position:relative;

            &:hover{
                color: hsl(116, 44%, 65%);
            }


            &:not(.active)::after{
                content: "";
                position: absolute;
                bottom: -1rem;
                left: 0;
                opacity: 0;
                background: hsl(116, 44%, 65%);
                width: 100%;
                height: 2px;
                transition: 
                    bottom 250ms ease-in-out, 
                    opacity 250ms ease-in-out
                ;

            }



            &:not(.active):hover{
                &::after{
                    bottom: -0.2rem;
                    opacity: 1;
                    color: #bde4ba;
                }
            }

            &.active{
                
                text-decoration: underline;

                
            }
        }
    }

    &__burger{
        // width: 100px;
        transform: scale(2);
        
        path{
            
            color: $blue;
            // fill: aliceblue;
        }
    }



    &__left{

        @extend %flex-row-center;
        gap: 2rem;

        


        

    }
}


