
@use '../abstract/' as *;


// $bg-offerBan:rgb(255, 183, 0);


.banniereOffre{

    background-color: $bg-offerBan;
    width: 100%;
    padding-block: 4rem;
    padding-inline: 2rem;

    @extend %flex-column-center;
    gap:2rem;


    h2{
        font-size: $font-desk-32-20;
        color: $text-color-1;
        text-align: center;
        @media screen and (max-width:768px) {
            &{
                font-size:$font-mob-32-20;
            }
        }


    }

    p{
        text-align: center;
        font-size: $font-desk-24-16;
        width: max(50vw, 100%);
        @media screen and (max-width:768px) {
            &{
                font-size:$font-mob-24-16;
            }
        }
    }

    .button__secondary{

        background-color: $blue;
        color: $blue-bg;
        
        &:hover{
            
            background-color: $blue-hover;
            color: $blue-bg;
        }
    }
}