
    <p>
        Un utilisateur a soumis une demande via le formulaire de contact. Voici l es détails :
    </p>
    <p>
        Un formulaire de contact a été posté sur le site internet par {{ contact.prenom }} {{ contact.nom }} 
    </p>

    <p>
        Vous pouvez d’ores et déjà en prendre connaissance
    </p>

    <p>
        Cordialement,
        <br>
        Guadeloupe Passion Caraïbes
    </p>
