

//* =====================
//?         flex
//* =====================


%flex-center{
    display: -webkit-flex;
    justify-content: -webkit-center;
    align-items: -webkit-center;
    display: flex;
    justify-content: center;
    align-items: center;
}

//! Flex-row


    %flex-row-center{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        align-items: -webkit-center;
        justify-content: -webkit-center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    %flex-row-center-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        align-items: -webkit-stretch;
        justify-content: -webkit-center;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }



    %flex-row-start-center{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-flex-start;
        align-items: -webkit-center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    %flex-row-start-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-flex-start;
        align-items: -webkit-stretch;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    %flex-row-evenly-center{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-space-evenly;
        align-items: -webkit-center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    %flex-row-evenly-start{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-space-evenly;
        align-items: -webkit-start;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }

    %flex-row-between-center{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-space-between;
        align-items: -webkit-center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    %flex-row-around-center{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-space-around;
        align-items: -webkit-center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    %flex-row-around-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-space-around;
        align-items: -webkit-stretch;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    %flex-row-end-center{
        display: -webkit-flex;
        flex-direction: -webkit-row;
        justify-content: -webkit-flex-end;
        align-items: -webkit-center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }


//! Flex-column

    %flex-column-center{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        align-items: -webkit-center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    %flex-column-center-center{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        align-items: -webkit-center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    %flex-column-center-start{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        align-items: -webkit-flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    %flex-column-center-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-center;
        align-items: -webkit-stretch;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
    }

    %flex-column-evenly-center{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-evenly;
        align-items: -webkit-center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    %flex-column-between-center{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-pace-between;
        align-items: -webkit-center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    %flex-column-start-center{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-flex-start;
        align-items: -webkit-center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    %flex-column-start-around{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-flex-start;
        align-items: -webkit-space-around;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: space-around;
    }

    %flex-column-start-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-flex-start;
        align-items: -webkit-stretch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    %flex-column-start-start{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-flex-start;
        align-items: -webkit-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    %flex-column-between-start{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-between;
        align-items: -webkit-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    %flex-column-between-end{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-between;
        align-items: -webkit-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }
    %flex-column-between-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-between;
        align-items: -webkit-stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    %flex-column-around-center{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-around;
        align-items: -webkit-center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    %flex-column-around-start{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-around;
        align-items: -webkit-start;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }

    %flex-column-around-end{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-around;
        align-items: -webkit-end;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
    }

    %flex-column-around-stretch{
        display: -webkit-flex;
        flex-direction: -webkit-column;
        justify-content: -webkit-space-around;
        align-items:-webkit-stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:stretch;
    }




//* ==========================================
//?     Responsiv background image
//* ==========================================


    %responsive-background{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }



//* =====================
//?        hide
//* =====================

//     %hide--intro{
//         transform: translateY(100px);
//         opacity: 0!important;
//     }
//     %hide__img__droite{
//         transform: translateX(600px);
//         opacity: 0!important;
//     }
//     %hide__img__gauche{
//         transform: translateY(100px);
//         opacity: 0!important;
//     }
//     %hide__img__droite--rotate{
//         transform: rotate3d(0, 1, 0, 90deg);   
//         opacity: 0!important;
//     }
//     %hide__img__gauche--rotate{
//         transform: rotate3d(0, 1, 0, -90deg);   
//         opacity: 0!important;
//     }