//? ========= Font....

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//? == familly
$font-title: "Manrope", sans-serif;
$font-text: "Nunito", sans-serif;
$font-style: "Merienda", sans-serif;

//? == size

$font-desk-32-16 :  clamp(1rem, -0.1429rem + 2.381vw, 2rem); // desk-32-16
$font-desk-24-16 : clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem); // desk-32-16




//? ========= Color....