<p>Bonjour,</p>
<br>
    <p>
        Une nouvelle réservation a été effectuée.<br>
        Voici les premieres informations informations:
    </p>
    <br>
    <ul>
        <li><strong>Nom du client :</strong> {{ infoSejour.prenom }} {{ infoSejour.nom }}</li>
        <li><strong>Email :</strong> {{ infoSejour.email }}</li>
    </ul>
<br>
    <p>Vous pouvez d’ores et déjà en prendre connaissance.</p>

    <p>Cordialement,<br>
    Guadeloupe Passion Caraïbes</p>

