
{# <div 
    {{ attributes }}
        class="back-to-top-container back-to-top-container--intersecting" 
        data-controller="back-to-top" 
        data-back-to-top-toggle-class="back-to-top-container--intersecting"
    > #}
    <button {{ attributes }} 

        class="back-to-top__button button" 
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >
            Retour en haut
    </button>
{# </div> #}

