<div{{ attributes }}
    class="bannierCta"
>
    <!-- component html -->

    <h2>
        Titre de la banniere
    </h2>

    <a 
        class="button"
        href=""
    >
        titre du cta
    </a>
</div>
