<div{{ attributes }}>
    {% if status is same as "open" %}
        <p > <twig:ux:icon name="noto:green-circle" class='horaireIcon' /> Ouvert (ferme à {{ close_hour.hours }}h)  </p>
    {% elseif status is same as "close" %}
         <p > fermé <twig:ux:icon name="noto:red-circle"  class='horaireIcon'/> (ouvre à {{open_hour.hours}}h)</p>
    {% elseif status is same as "idk" %}
         <p > nope</p>
    {% else %}
         <p > nopefff</p>
            
    {% endif %}
    
</div>
