
{#todo flex-r-b-c p7.5    #}
<nav {{ attributes }}class='nav'>

    <img src="{{asset('./images/GPC-logo.png')}}" alt="logo Guadeloupe Passion Caraïbe" class="nav__logo"/>

    {#todo flex-r-b-c p7.5   #}
    <div class='nav__links'>
        <a href="" class="nav__link">Accueil</a>
        <a href="" class="nav__link">Contact</a>
        <a href="" class="nav__link">À propos</a>
    </div>

     {#todo btn to turbo add modal-form-etape #}

    <button class="nav__cta button__primary">Reserver votre voyage</button>
</nav>