<div{{ attributes }}
    class="banniereOffre"
>
    <!-- component html -->

    <h2>
        {{titre}}
    </h2>
    <p>
        {{text|raw}}
    </p>
    <a 
        class="button__secondary"
        href="#offer"
    >
        {{ctaTitre}}
    </a>
</div>
