<div{{ attributes }}
    class="product__carte">

    <div class="carte__image">
        <img src="/uploads/images/{{type}}/{{produit.image}}" alt="image-activité" >
    </div>

    <div class="carte__info">

        <h3>
            {{produit.titre}}
        </h3>

        <button class="button__secondary">
            Voir plus
        </button>
    </div>
</div>
